body {
  margin: 0;
  margin-top: 1 rem;
  height: 100%;
  font-family: "Press Start 2P";
}

#root {
  display: flex;
  justify-content: center;
  align-items: top;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
